.section_card{
    background-color: aquamarine;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.jambura {
    font-size: 20px;
    color: bisque;
    border: 2px solid black;
    padding: 10px;
}